In [1]:
import pandas as pd
import numpy as np

# Read CSV file

In [6]:
mtcars=pd.read_csv("mtcars.csv")

# Data Frame using attributes

In [8]:
mtcars.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [9]:
mtcars.size

352

In [10]:
mtcars.shape

(32, 11)

In [11]:
mtcars.axes

[RangeIndex(start=0, stop=32, step=1),
 Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
        'carb'],
       dtype='object')]

In [12]:
mtcars.values

array([[ 21.   ,   6.   , 160.   , 110.   ,   3.9  ,   2.62 ,  16.46 ,
          0.   ,   1.   ,   4.   ,   4.   ],
       [ 21.   ,   6.   , 160.   , 110.   ,   3.9  ,   2.875,  17.02 ,
          0.   ,   1.   ,   4.   ,   4.   ],
       [ 22.8  ,   4.   , 108.   ,  93.   ,   3.85 ,   2.32 ,  18.61 ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 21.4  ,   6.   , 258.   , 110.   ,   3.08 ,   3.215,  19.44 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 18.7  ,   8.   , 360.   , 175.   ,   3.15 ,   3.44 ,  17.02 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 18.1  ,   6.   , 225.   , 105.   ,   2.76 ,   3.46 ,  20.22 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 14.3  ,   8.   , 360.   , 245.   ,   3.21 ,   3.57 ,  15.84 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 24.4  ,   4.   , 146.7  ,  62.   ,   3.69 ,   3.19 ,  20.   ,
          1.   ,   0.   ,   4.   ,   2.   ],
       [ 22.8  ,   4.   , 140.8  ,  95.   ,   3.92 ,   3.15 ,  22.9  ,
          1.   ,   0.   ,   4.   ,   2.   ],
       [ 19.2  ,   6.   , 167.6  , 123.   ,   3.92 ,   3.44 ,  18.3  ,
          1.   ,   0.   ,   4.   ,   4.   ],
       [ 17.8  ,   6.   , 167.6  , 123.   ,   3.92 ,   3.44 ,  18.9  ,
          1.   ,   0.   ,   4.   ,   4.   ],
       [ 16.4  ,   8.   , 275.8  , 180.   ,   3.07 ,   4.07 ,  17.4  ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 17.3  ,   8.   , 275.8  , 180.   ,   3.07 ,   3.73 ,  17.6  ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 15.2  ,   8.   , 275.8  , 180.   ,   3.07 ,   3.78 ,  18.   ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 10.4  ,   8.   , 472.   , 205.   ,   2.93 ,   5.25 ,  17.98 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 10.4  ,   8.   , 460.   , 215.   ,   3.   ,   5.424,  17.82 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 14.7  ,   8.   , 440.   , 230.   ,   3.23 ,   5.345,  17.42 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 32.4  ,   4.   ,  78.7  ,  66.   ,   4.08 ,   2.2  ,  19.47 ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 30.4  ,   4.   ,  75.7  ,  52.   ,   4.93 ,   1.615,  18.52 ,
          1.   ,   1.   ,   4.   ,   2.   ],
       [ 33.9  ,   4.   ,  71.1  ,  65.   ,   4.22 ,   1.835,  19.9  ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 21.5  ,   4.   , 120.1  ,  97.   ,   3.7  ,   2.465,  20.01 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 15.5  ,   8.   , 318.   , 150.   ,   2.76 ,   3.52 ,  16.87 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 15.2  ,   8.   , 304.   , 150.   ,   3.15 ,   3.435,  17.3  ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 13.3  ,   8.   , 350.   , 245.   ,   3.73 ,   3.84 ,  15.41 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 19.2  ,   8.   , 400.   , 175.   ,   3.08 ,   3.845,  17.05 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 27.3  ,   4.   ,  79.   ,  66.   ,   4.08 ,   1.935,  18.9  ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 26.   ,   4.   , 120.3  ,  91.   ,   4.43 ,   2.14 ,  16.7  ,
          0.   ,   1.   ,   5.   ,   2.   ],
       [ 30.4  ,   4.   ,  95.1  , 113.   ,   3.77 ,   1.513,  16.9  ,
          1.   ,   1.   ,   5.   ,   2.   ],
       [ 15.8  ,   8.   , 351.   , 264.   ,   4.22 ,   3.17 ,  14.5  ,
          0.   ,   1.   ,   5.   ,   4.   ],
       [ 19.7  ,   6.   , 145.   , 175.   ,   3.62 ,   2.77 ,  15.5  ,
          0.   ,   1.   ,   5.   ,   6.   ],
       [ 15.   ,   8.   , 301.   , 335.   ,   3.54 ,   3.57 ,  14.6  ,
          0.   ,   1.   ,   5.   ,   8.   ],
       [ 21.4  ,   4.   , 121.   , 109.   ,   4.11 ,   2.78 ,  18.6  ,
          1.   ,   1.   ,   4.   ,   2.   ]])

In [14]:
mtcars.ndim

2

# Data Frames using methods

In [15]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [16]:
mtcars.tail()

     mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
27  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

In [17]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [18]:
mtcars.min()

mpg     10.400
cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec    14.500
vs       0.000
am       0.000
gear     3.000
carb     1.000
dtype: float64

In [19]:
mtcars.max()

mpg      33.900
cyl       8.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec     22.900
vs        1.000
am        1.000
gear      5.000
carb      8.000
dtype: float64

In [20]:
mtcars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [21]:
mtcars.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [22]:
mtcars.sample()

    mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
5  18.1    6  225.0  105  2.76  3.46  20.22   1   0     3     1

In [23]:
mtcars.head(10).mean()

mpg      20.370
cyl       5.800
disp    208.610
hp      122.800
drat      3.538
wt        3.128
qsec     18.581
vs        0.600
am        0.300
gear      3.600
carb      2.500
dtype: float64

In [25]:
mtcars.tail(10).mean()

mpg      20.3300
cyl       6.2000
disp    226.6400
hp      172.3000
drat      3.7730
wt        2.8998
qsec     16.5460
vs        0.3000
am        0.7000
gear      4.2000
carb      3.3000
dtype: float64

In [26]:
mtcars.head(2).std()

mpg     0.000000
cyl     0.000000
disp    0.000000
hp      0.000000
drat    0.000000
wt      0.180312
qsec    0.395980
vs      0.000000
am      0.000000
gear    0.000000
carb    0.000000
dtype: float64

# Slicing operation

In [27]:
mtcars['mpg']

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [41]:
mtcars[['mpg']]

     mpg
0   21.0
1   21.0
2   22.8
3   21.4
4   18.7
5   18.1
6   14.3
7   24.4
8   22.8
9   19.2
10  17.8
11  16.4
12  17.3
13  15.2
14  10.4
15  10.4
16  14.7
17  32.4
18  30.4
19  33.9
20  21.5
21  15.5
22  15.2
23  13.3
24  19.2
25  27.3
26  26.0
27  30.4
28  15.8
29  19.7
30  15.0
31  21.4

In [45]:
mtcars1=mtcars.groupby(['mpg'])

In [47]:
mtcars1

In [48]:
mtcars1.mean()

      cyl   disp     hp   drat      wt    qsec   vs   am  gear  carb
mpg
10.4  8.0  466.0  210.0  2.965  5.3370  17.900  0.0  0.0   3.0   4.0
13.3  8.0  350.0  245.0  3.730  3.8400  15.410  0.0  0.0   3.0   4.0
14.3  8.0  360.0  245.0  3.210  3.5700  15.840  0.0  0.0   3.0   4.0
14.7  8.0  440.0  230.0  3.230  5.3450  17.420  0.0  0.0   3.0   4.0
15.0  8.0  301.0  335.0  3.540  3.5700  14.600  0.0  1.0   5.0   8.0
15.2  8.0  289.9  165.0  3.110  3.6075  17.650  0.0  0.0   3.0   2.5
15.5  8.0  318.0  150.0  2.760  3.5200  16.870  0.0  0.0   3.0   2.0
15.8  8.0  351.0  264.0  4.220  3.1700  14.500  0.0  1.0   5.0   4.0
16.4  8.0  275.8  180.0  3.070  4.0700  17.400  0.0  0.0   3.0   3.0
17.3  8.0  275.8  180.0  3.070  3.7300  17.600  0.0  0.0   3.0   3.0
17.8  6.0  167.6  123.0  3.920  3.4400  18.900  1.0  0.0   4.0   4.0
18.1  6.0  225.0  105.0  2.760  3.4600  20.220  1.0  0.0   3.0   1.0
18.7  8.0  360.0  175.0  3.150  3.4400  17.020  0.0  0.0   3.0   2.0
19.2  7.0  283.8  149.0  3.500  3.6425  17.675  0.5  0.0   3.5   3.0
19.7  6.0  145.0  175.0  3.620  2.7700  15.500  0.0  1.0   5.0   6.0
21.0  6.0  160.0  110.0  3.900  2.7475  16.740  0.0  1.0   4.0   4.0
21.4  5.0  189.5  109.5  3.595  2.9975  19.020  1.0  0.5   3.5   1.5
21.5  4.0  120.1   97.0  3.700  2.4650  20.010  1.0  0.0   3.0   1.0
22.8  4.0  124.4   94.0  3.885  2.7350  20.755  1.0  0.5   4.0   1.5
24.4  4.0  146.7   62.0  3.690  3.1900  20.000  1.0  0.0   4.0   2.0
26.0  4.0  120.3   91.0  4.430  2.1400  16.700  0.0  1.0   5.0   2.0
27.3  4.0   79.0   66.0  4.080  1.9350  18.900  1.0  1.0   4.0   1.0
30.4  4.0   85.4   82.5  4.350  1.5640  17.710  1.0  1.0   4.5   2.0
32.4  4.0   78.7   66.0  4.080  2.2000  19.470  1.0  1.0   4.0   1.0
33.9  4.0   71.1   65.0  4.220  1.8350  19.900  1.0  1.0   4.0   1.0

In [50]:
mtcars2=mtcars.groupby(["cyl"])

In [51]:
mtcars2

In [52]:
mtcars2.mean()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [60]:
df.groupby(['rank'])[['salary']].mean()

In [62]:
mtcars.groupby(['cyl'])[['hp']].mean()

             hp
cyl
4     82.636364
6    122.285714
8    209.214286

In [63]:
mtcars.groupby(['cyl'])['hp'].mean()

cyl
4     82.636364
6    122.285714
8    209.214286
Name: hp, dtype: float64

In [64]:
mtcars.groupby(['cyl'])[['drat']].mean()

         drat
cyl
4    4.070909
6    3.585714
8    3.229286

# Filtering operation

In [67]:
df=mtcars[mtcars['cyl'] > 4]

In [68]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8

In [71]:
df=mtcars[mtcars['cyl']==6]

In [72]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6

In [73]:
mtcars.iloc[1]

mpg      21.000
cyl       6.000
disp    160.000
hp      110.000
drat      3.900
wt        2.875
qsec     17.020
vs        0.000
am        1.000
gear      4.000
carb      4.000
Name: 1, dtype: float64

In [74]:
mtcars.iloc[-1]

mpg      21.40
cyl       4.00
disp    121.00
hp      109.00
drat      4.11
wt        2.78
qsec     18.60
vs        1.00
am        1.00
gear      4.00
carb      2.00
Name: 31, dtype: float64

In [75]:
mtcars.iloc[:,2]

0     160.0
1     160.0
2     108.0
3     258.0
4     360.0
5     225.0
6     360.0
7     146.7
8     140.8
9     167.6
10    167.6
11    275.8
12    275.8
13    275.8
14    472.0
15    460.0
16    440.0
17     78.7
18     75.7
19     71.1
20    120.1
21    318.0
22    304.0
23    350.0
24    400.0
25     79.0
26    120.3
27     95.1
28    351.0
29    145.0
30    301.0
31    121.0
Name: disp, dtype: float64

In [78]:
mtcars.iloc[:,1:3]

    cyl   disp
0     6  160.0
1     6  160.0
2     4  108.0
3     6  258.0
4     8  360.0
5     6  225.0
6     8  360.0
7     4  146.7
8     4  140.8
9     6  167.6
10    6  167.6
11    8  275.8
12    8  275.8
13    8  275.8
14    8  472.0
15    8  460.0
16    8  440.0
17    4   78.7
18    4   75.7
19    4   71.1
20    4  120.1
21    8  318.0
22    8  304.0
23    8  350.0
24    8  400.0
25    4   79.0
26    4  120.3
27    4   95.1
28    8  351.0
29    6  145.0
30    8  301.0
31    4  121.0

In [79]:
mtcars.iloc[[1,2],[1,2]]

   cyl   disp
1    6  160.0
2    4  108.0

In [80]:
mtcars.iloc[[1,4],[1,6]]

   cyl   qsec
1    6  17.02
4    8  17.02