In [1]:
# Variables and Numbers and String #string are immutable which mean we cant change.
Salary = 30000 
Fuel = 3100
Lunch = 1500
saving = 10000

In [2]:
Total =  Salary - (Fuel + Lunch) 
print("Remaining = ", Total)

Remaining =  25400

In [3]:
final_amt = Total - saving
print("final amount :", final_amt)

final amount : 15400

In [4]:
type(final_amt)

int

In [5]:
items1 = 'Salary'
items2 = "Fuel"
items3 = "Lunch's cost"
print("total Expenses and salary : ", items1,items2,items3)

total Expenses and salary :  Salary Fuel Lunch's cost

In [6]:
print(items1)

Salary

In [7]:
for w in items1: print(w) # array will represent only numbers and in vertical.
                          # list will display in horizontal form.

S
a
l
a
r
y

In [8]:
type(items1)

str

In [9]:
items1[0:3]

'Sal'

In [10]:
items1[3:]

'ary'

In [11]:
a = 2 ; b = 4
a < b # a is less than b
# a > b # a is greate than b

True

In [12]:
a > b # a is greate than b

False

In [13]:
11//2 # Divident

5

In [14]:
11%2 # Remainder

1

In [15]:
3**3 # 3 to the power 3

27

In [16]:
total_distance = 13

In [17]:
mph = 65
time = total_distance/mph*100
print("Time takes to travel =", time)

Time takes to travel = 20.0

In [18]:
round(time,2)

20.0

In [19]:
type(time)

float

In [20]:
to = " total exp ="
Total = 15400
so = to+str(Total) # concat num and str

In [21]:
so

' total exp =15400'

In [22]:
type(so)

str

In [23]:
##The strip() method removes any whitespace from the beginning or the end:
a = "    Hello, World!   "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [24]:
ele = [10,20,0,40,15]
x = bytes(ele)# converts the list into bytes array ##### (1)
print(x[0])

10

In [25]:
x

b'\n\x14\x00(\x0f'

In [26]:
type(x)

bytes

In [27]:
x[2]

0

In [28]:
for i in x : print(i)

10
20
0
40
15

In [29]:
ele

[10, 20, 0, 40, 15]

In [30]:
x[0] = 5 ### so converted in (1) # we cant change in bytes

TypeError: 'bytes' object does not support item assignment

In [ ]:
ele = [10,20,0,40,15]
x = bytearray(ele)# converts the list into bytearray type array ###### (2)
print(x[0])

In [ ]:
x

In [ ]:
x[2] = 5

In [ ]:
type(x)

In [ ]:
for i in x : print(i) ## FOR LOOP STORED IN HORIZONTAL WAY

# LISTS ARE REPRESENTED USING SQUARE BRACKETS [ ].
    ##CAN BE MODIFIED
# TUPLE ARE REPRESENTED USING PARENTHESES (). READ-ONLY LIST
    ##CAN'T BE MODIFIED

In [ ]:
list = [10,20,"jack",10.5,'chan']

In [ ]:
list[0]

In [ ]:
list[0] = 15

In [ ]:
list ##CAN BE MODIFIED

In [ ]:
tuple = (10,20,"jack",10.5,'chan')

In [ ]:
tuple[0]

In [ ]:
tuple[0] = 15 ##CAN'T BE MODIFIED

## range

In [ ]:
r = range(10)

In [ ]:
for i in r : print(i)

In [ ]:
r = range(30, 40, 5) # displayes from 30 and 35 because we used 5 which will increase by 5( or difference is 5)

In [ ]:
for i in r : print(i)

In [ ]:
lst = []
for i in range(10):
    lst.append(i)
print("list of range = ",lst)   # outside the for loop

for i in range(10): print(i) ## i is printed as array

In [ ]:
lst = []
for i in range(10):
    lst.append(i)
    print("List = ", i) # inside the for loop

# set

In [ ]:
s = {20, 10, 50, 40, 30,40}
s

In [ ]:
ch = set('hello') # element may will not appear in the same order as we enter and it wont repeat the letter which is already present.
ch

In [ ]:
lst = [4,2,5,1,3] # 'update' is use to add element and 'remove' is use to remove the element
se = set(lst)  # can be modified in set
se

## frozenset

In [ ]:
s = {20,30,40,50}
s

In [ ]:
fs = frozenset(s) # cannot be modified in frozenset however this won't work 'update' is use to add element and 'remove' is use to remove the element
fs

## dictionary

In [ ]:
d = {11:'jack', 12:'chan', 13:'ram'} # 11 is key and jack is value
d

In [ ]:
d[11]

In [ ]:
d.keys()

In [ ]:
type(d)

In [ ]:
d = {} # we can also create the dict like this

In [ ]:
d[1] = "jack"
d[2] = "ram"

In [ ]:
print("dict keys and value :", d)

# in operator

In [ ]:
phone = ("table", "Connect to pc", "connect to charger", "left in bike", "in couch")
location =  "left in bike"
for i in phone:
    if i==location:
        print("found it here", i)    ### example for : for loop , if..else and break
        break
    else:
        print("Could't find it anywhere")

## Control statement

Control flow statements: 
1. Use the if-else statements in Python for conditional decision-making
2. for loop: To iterate over a sequence of elements such as list, string.
3. range() function: Using a for loop with range(), we can repeat an action a specific number of times
4. while loop: To repeat a block of code repeatedly, as long as the condition is true.
5. Break and Continue: To alter the loop’s execution in a certain manner.
6. Nested loop: loop inside a loop is known as a nested loop

#### if else, elif

In [ ]:
indian = ["Micromax", "Karbon","251"]
china = ["OnePlus","Mi","Oppo","RealMe"]
usa = ["Apple", "Blackberry","Asus"]
south_korea = ["Samsung", "Nokia"]

phone = input("Enter your phone name:")

if phone in indian:
    print("MADE IN INDIA")
elif phone in china:
    print("MADE IN CHINA")
elif phone in usa:
    print("MADE IN USA")
elif phone in south_korea:
    print("MADE IN SOUTH KOREA")
else:
    print("A fake product i believe xD",phone)

In [ ]:
type(phone)

## for loop

In [ ]:
exp = [6,3,4,5]
total = 0
for i in exp:
    total = total + i
print(total)

In [ ]:
lis = [10,20,30,40,50]
tota = 0
for i in lis:
    tota = tota + i
print(tota)

In [ ]:
exp_per_week = [100,100,550,0,100]
total = 0 # debug 
for i in range(len(exp_per_week)):
    print("Day Expense",i+1,"Exp",exp_per_week[i])# i = 0,1,2,3 as it starts from 0, we use i+1 which starts from 1.
    # exp_per_week[i] tracks exp variables one by one
    total = total + exp_per_week[i]
print("total exp = ", total)

In [ ]:
for i in range(len(exp_per_week)):
    print(i+1)

In [ ]:
pan = [1,2,3,4,5,6,7,8,9]
for i in range(len(pan)):
    print("starts from 0th",i,"pan",pan[i]) # i + 1 starts from 1th

In [ ]:
keys_place=["chair","bed","table","Near TV","in car"]
keys = "Near TV"

for i in keys_place:
    if i==keys:
        print("found keys",i)
        break # when keys are found it will stop when we call break
    else:
        print("Not found")

In [ ]:
# without break
keys_place=["chair","bed","table","Near TV","in car"]
keys = input("enter the value from the following")

for i in keys_place:
    if i==keys:
        print("found keys",i)
        #break # when keys are found it will stop when we call break
    else:
        print("Not found")

In [ ]:
for i in range(1,9):
    if i%2==0:
        continue #if the condition is satified it will continue
    print(i*i)

In [ ]:
60%12 # % gives us remainder

#### while loop takes one statement meaning until the statement is true the statment will be looping........

In [ ]:
i = 1
while i<=6: # untill this statment is True the loop will be continuing
    print(i)
    i = i + 1 # this is necessary in while loop & without this it will create infinite loop which never stops xD
    # print(i)

#### Pass: uses for impty blocks when you don't have a code to write.

The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
    pass

 #### Task
Given an integer, , perform the following conditional actions:

If  n is odd, print Weird
If  n is even and in the inclusive range of 2 to 5, print Not Weird
If  n is even and in the inclusive range of 6 to 20, print Weird
If  n is even and greater than 20 , print Not Weird

In [ ]:
n = int(input("enter the number : ").strip())
if n%2==0 and (
    n in range(2,6) or 
    n > 20):
    print("Not Weird")
else:
    print("Weird")

In [ ]:

n = int(input()) #.strip()
check = {True: "Not Weird", False: "Weird"}
print(check[
    n%2==0 and (
        n in range(2,6) or 
        n > 20)
    ])

### Task
The provided code stub reads and integer,n, from STDIN. For all non-negative integers i<n, print i^2 .

Example
n = 3
The list of non-negative integers that are less than  is . Print the square of each number on a separate line...

 Output
    
    0
    1
    4

In [ ]:
n = int(input("enter the number = "))
for i in range(n):
    print(i*i)

### Linear Search

In [ ]:
import random
print ("-"*60)
print ("Linear Search Program")
print ("-"*60)
n=int(input("Enter how many number "))
print("Enter", n , "numbers ")
num = []
for i in range(0, n):
    num.append(random.randint(0,100))
print("The Number == > ", num)
Sitem=int(input("Enter the search item "))
found=False
for i in range(0, n):
    if(num[i] == Sitem):
        found=True
        break
if (found == True):
    print("Element found at", i+1)
else:
    print("Element not found")

In [ ]:
languages = ['R', 'Python',  'Scala', 'Java', 'Julia']

for index in range(len(languages)):
    print('Current language:', languages[index])

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["Iphone", "Oppo", "OnePlus"]
fruits = ["13", "13 Pro", "13 Pro Max"]

for x in adj:
    for y in fruits:
         print(x, y)

In [ ]:
print("Yes") if 5 > 2 else print("No")

# Exercise

Exercise 3: Calculate the sum of all numbers from 1 to a given number
Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

Expected Output:10
        sum 55

In [ ]:
n = int(input("Enter the number : "))
total = 0
for i in range(1,n + 1):
    total = total + i
    print(total)

Exercise 5: Display numbers from a list using loop
          
          Write a program to display only those numbers from a list that satisfy the following conditions

           1 The number must be divisible by five
           2 If the number is greater than 150, then skip it and move to the next number
           3 If the number is greater than 500, then stop the loop
  Given:  numbers = [12, 75, 150, 180, 145, 525, 50]
        
        Expected Output
            
          75
          150
          145

In [ ]:
n =  [12, 75, 150, 180, 145, 525, 50]
for i in n:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i % 5 == 0:
        print(i,"is divisible by five")

Exercise 1: Print First 10 natural numbers using while loop

In [ ]:
n = int(input("Enter the Natural number : "))
i = 1
while i<=n:# for first Natural numbers 10 replace n with 10       # untill this statment is True the loop will be continuing 
    print(i)
    i = i + 1 # this is necessary for while loop & without this it will create infinite loop which never stops xD

Exercise 4: Write a program to print multiplication table of a given number
For example,
num = 2 
so the output should be
2
4
6
8
10
12
14
16
18
20

In [ ]:
n = int(input("enter the number : "))
for i in range(1,11,1):
    print(n*i)

Exercise 8: Print list in reverse order using a loop

In [ ]:
lis = [10,20,30,40,50]
lis.reverse()
for i in lis:
    print(i)

In [ ]:
list1 = [10, 20, 30, 40, 50]


for i in range(len(list1)-1,-1,-1):

    print(list1[i])

Exercise 9: Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,-0):
    print(i)

Exercise 10: Use else block to display a message “Done” after successful execution of for loop
For example, 
the following loop will execute without any error.
Given:

for i in range(5):
    print(i)

In [ ]:
for i in range(5):
    print(i)
    continue
else:
    print("Done!!!!!!!")

Exercise 11: Write a program to display all prime numbers within a range
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply together to make it.
Given:

# range
start = 25
end = 50
Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [ ]:
lower = 25
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Exercise 15: Use a loop to display elements from a given list present at odd index positions
Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Note: list index always starts at 0

Expected output:

20 40 60 80 100

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")# for loop with end  displays in list form

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
## :: in python meaning --> stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:   
    print(i)

Exercise 16: Calculate the cube of all numbers from 1 to a given number
Write a program to rint the cube of all numbers from 1 to a given number

Given:

input_number = 6

In [ ]:
n = int(input("Enter the number = "))
for i in range(1,n+1,1):
    print("Index is :",i,"cube : ", i**3)

In [ ]:
pan = [1,2,3,4,5,6,7,8,9]
for i in range(len(pan)):
    print("starts from 0th",i,"pan",pan[i]) # i + 1 starts from 1th

Exercise 17: Find the sum of the series upto n terms
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

Given:

# number of terms
n = 5
Expected output:

24690

In [34]:
n = int(input("Enter the number = "))
# first number of sequence
start = 2
end = 0
for i in range(0,n):
    print(start, end="+")
    end += start
    start = start * 10 + 2
print("\nsum", end)

Enter the number = 5
2+22+222+2222+22222+
sum 24690

In [51]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0: # works untill num turns into 0 i,e "0 > 0"
    reminder = num % 10 # num= 76542%10 = 2; 7654%10 = 4 so on
    reverse_number = (reverse_number * 10) + reminder # (0*10)+2
    num = num // 10 # 76542 // 10 = 7654
print("Reverse_number",reverse_number)

Given Number  76542
Reverse_number 24567

In [43]:
76542%10

2

In [45]:
 (0*10)+2

2

In [47]:
76542 // 10

7654

In [48]:
7 // 10

0

In [67]:
number = [7, 6, 5, 4, 2]
number.reverse()
for i in number:
    print(i,end="")

24567